header, footer {
    font-family: 'Lobster', cursive;
    background-color: #0B2447 !important;
    background-image: url("../../images/bg_space_seamless_1.png");
}

body {
    font-family: 'Lobster', cursive;
    background-color: #465d7d !important;
    color: #19365f;
    background-image: url("../../images/bg_space_seamless_1.png");
    //filter: blur(8px);
}
