header, footer {
    font-family: 'Lobster', cursive;
    background-color: #0B2447 !important;
}

body {
    font-family: 'Lobster', cursive; /* Replace 'YourHolidayFont' with the actual font name */
    background-color: #0B2447 !important; /* Set a background color for better visibility */
    color: rgb(245, 16, 16);
    background-image: url('https://cdn.britannica.com/09/92009-050-122EC720/Enterprise-from-Star-Trek-III-The-Search.jpg');
    //filter: blur(8px);
  }
 
